@model List<Worker>
@{
    ViewData["Title"] = "Index";
}
<head>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<link href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css" rel="stylesheet" />
<button class="create-button" onclick="location.href='https://localhost:7068/worker/create'">Создать нового сотрудника</button>

<input type="text" id="searchInput" name="searchInput" placeholder="Поиск по ФИО или Телефону" />

<div id="employeesTableBody">
    @Html.Partial("_EmployeesTableBody", Model)
</div>

<div class="pagination">
    <button class="prev-button">Предыдущие 10 записей</button>
    <button class="next-button">Следующие 10 записей</button>
    <span class="page-info"></span>
</div>

<button class="add-button">Добавить ещё 30 записей</button>



<script>
    var num = 30;
$(document).ready(function() {
    var tableRows = $('#myTable tbody tr');
    var tableRowsCount = tableRows.length;
    var currentPage = 0;
    var rowsPerPage = 10;

    showPage(currentPage);

    $('.prev-button').hide();

    $('.prev-button').on('click', function() {
        currentPage--;
        showPage(currentPage);
        if (currentPage === 0) {
            $('.prev-button').hide();
        } else {
            $('.prev-button').show();
        }
    });

    $('.next-button').on('click', function() {
        currentPage++;
        showPage(currentPage);
        if (currentPage > 0) {
            $('.prev-button').show();
        }
    });

    $('#searchInput').on('input', function() {
        var searchValue = $(this).val().toLowerCase();
        $.ajax({
            url: '/Worker/FindWorker',
            type: 'GET',
            data: { query: searchValue },
            success: function(result) {
                $('#employeesTableBody').html(result);
                tableRows = $('#myTable tbody tr');
                tableRowsCount = tableRows.length;
                currentPage = 0;
                rowsPerPage = 10;
                showPage(currentPage);
                $('.prev-button').hide();
            }
        });
    });

    function showPage(page) {
        var startIndex = page * rowsPerPage;
        var endIndex = startIndex + rowsPerPage;

        tableRows.hide();
        tableRows.slice(startIndex, endIndex).show();

        var totalPages = Math.ceil(tableRowsCount / rowsPerPage);
        $('.page-info').html('Страница ' + (page + 1) + ' из ' + totalPages);

        if (endIndex >= tableRowsCount) {
            $('.next-button').hide();
        } else {
            $('.next-button').show();
        }
        if (startIndex === 0) {
            $('.prev-button').hide();
        } else {
            $('.prev-button').show();
        }
    }
       $('.add-button').on('click', function() {
           num+=30;
    $.ajax({
        url: '/Worker/GetMore',
        type: 'GET',
         data: { query: num },
        success: function(result) {
               $('#employeesTableBody').html(result);
                tableRows = $('#myTable tbody tr');
                tableRowsCount = tableRows.length;
                currentPage = 0;
                rowsPerPage = 10;
                showPage(currentPage);
                $('.prev-button').hide();
        }
    });
});
});
</script>



